
* {
  font-family: Mulish,sans-serif;
}
.logo {
  height: 110px;
  width: 160px;
 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease; 
}



.nav-items > ul{
  display: flex;
  flex-direction: row;
 list-style-type: none;
 margin: 30px;
}

.nav-items > ul >li {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  
}

.body {
  margin: 5px 5px;
}
.res-card {
  width: 22%;
  height: auto;
  border-radius:5px;
  font-size: 5px;
  padding: 10px;
  margin-bottom: 16px;
  margin-right: 16px;
  background-color: #ffffff;
  transition: all .3s;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.2);
}

.res-title {
font-size: 15px;

}
.res-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 5px; */
  margin:5px;
  background: #fff;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 42px;
  position: relative;
  justify-content: space-between;
}



.res-card-image {
  width: 100%;
  height: 185px;
  margin:5px 5px;
  border-radius: 5px; 
  
 
}
.res-card:hover {
  box-shadow: 2px 2px 2px 2px #c2c0c0;
  transform: scale(1.03); /* Scale the image slightly on hover for a subtle zoom effect */
  box-shadow: 2px 2px 2px #888;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add transitions */
}

.filter-btn {
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
}
