* {
  font-family: Mulish, sans-serif;
}
.logo {
  height: 100px;
  width: 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.nav-items > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 30px;
}

.nav-items > ul > li {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

body {

  margin: 0px;
  padding: 0px;
 
}
.res-card {
  width: 250px;
  height: auto;
  border-radius: 5px;
  font-size: 5px;
  padding: 10px;
  margin-bottom: 16px;
  margin-right: 16px;
  background-color: #ffffff;
  transition: all 0.3s;
  box-shadow: 0 4px 4px rgba(15, 15, 15, 0.2);
  /* transform: scale(1.1); */
}

.res-title {
  font-size: 15px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  background: #fff;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
  justify-content: flex-start;
}

.res-body {
  display: flex;
  flex-wrap: wrap;
}

.res-card-image {
  width: 100%;
  height: 185px;
  margin: 5px 5px;
  border-radius: 5px;
  object-fit: cover;
}
.res-card:hover {
  box-shadow: 2px 2px 2px 2px #c2c0c0;
  transform: scale(
    1.03
  ); /* Scale the image slightly on hover for a subtle zoom effect */
  box-shadow: 2px 2px 2px #888;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add transitions */
}

.filter-btn {
  margin: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #FFB703; 
  border: 1px solid #FFB703;
  border-radius: 5px; 
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #FFB703;
    color: #fff; /* Change text color to white */
  }
}
.Restaurant-List {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
}

.Shimmer-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
  justify-content: flex-start;
}

.Shimmer-card {

background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
background-size: 200% 100%;
  animation: Shimmer 1.5s infinite linear;
margin: 20px;
padding: 20px;;
  width: 220px;
  height: 300px;
  
  animation: Shimmer 1.5s infinite linear;
}

@keyframes Shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFB703; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  min-width: 100px;
}

.login-button:hover {
  background-color: #DAA200; 
}

.Restaurant-List {
  display: flex;
  flex-direction: column;
}

/* Style the search container */
.search-container {
  text-align: center;
  margin: 20px;
}

/* Style the input box */
.input-box {
  padding: 5px;
  width: 450px;
  border: 2px solid #FFB703; 
  border-radius: 0px;
  font-size: 16px;
  height: 40px; 
  outline: none;
  margin: 0;
}

/* Style the search button */
.search-btn {
  background-color: #FFB703; 
  color: #fff;
  padding: 5px 40px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  height: 54px; 
  margin: 0; 
}


.filter {
  margin: 0 210px;
}